a {
  text-decoration: none;
  color: blue;
}
a.repo {
  padding: 1em;
  font-weight: 500;
  display: block;
}
#navbar {
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
}
#wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 680px;
  margin: 0 auto 20px;
  padding-left: 1em;
  padding-right: 1em;
  word-break: break-word;
}
#wrapper .title {
  text-align: center;
  margin: 2em 0 1.5em;
}
#wrapper h2 {
  font-size: 1.2em;
  margin: 2em 0 1.5em;
}

#menu {
  position: relative;
  background: #dbdbdb no-repeat;
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
}

#menu ul li {
  display: inline;
  line-height: 40px;
  padding-left: 3px;
}

#menu ul li.first {
  border-left: 0px;
}

#menu ul li a {
  background-color: transparent;
  background-repeat: repeat-x;
  padding: 8px 12px 8px 12px;
  font-size: 15px;
  font-weight: bold;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, 'Courier New', monospace;
  font-size: 80%;
}

@media (max-width: 480px) {
  blockquote {
    margin: 0;
  }
}
