<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/typo.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://happypeter.github.io/favicon.ico"
    />
    <title>{{ page.title }}</title>
  </head>
  <a href="https://happypeter.github.io/binfo" class="repo">Binfo</a>
  <div id="wrapper" class="typo">
    <h1 class="title">{{ page.title }}</h1>
    {{ content }} <br />
    <a
      href="https://github.com/happypeter/binfo/blob/gh-pages/{{
        page.name
      }}.md"
      >eidt on GitHub</a
    >
  </div>
</html>
